<!DOCTYPE html>
<html>
<head>
    <script src="~/Scripts/moment.js"></script>
    </head>
<body>
    <div id="calendar-event"></div>
</body>
</html>
<script src="~/Scripts/calendar-event.js"></script>
