<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/Content/month-calendar.css">
    </head>
<body>
    <br /> <br /><br /><br />
        <div id="calendar-event"></div>
</body>
</html>
<script src="~/Scripts/calendar-event.js"></script>
