<div class="row">
    <div style="text-align: center" class="col-lg-12 table-bordered"
         ng-bind-template="{{calendar.getMonthName()}} / {{calendar.getYear()}}">
    </div>
</div>

<div class="row" ng-repeat="week in generateOuterDays()">
    <div class="row">
        <div class="col-lg-1 table-bordered" ng-repeat="day in week">
            {{day}}
        </div>
    </div>
