
@{
    Layout = null;
}

<div class="row">
    <div style="text-align: center" class="col-lg-12 table-bordered"
         ng-bind-template="{{getDayName()}}, {{getMonth()}}/{{getDate()}}">
    </div>
</div>

<!--<div style="overflow: scroll; width: 760px; height: 450px;">-->
<div class="row" ng-repeat="h in hours">
    <div class="col-lg-1 table-bordered">{{h}}<br><br></div>
    <div data-hour="{{h}}" class="col-lg-11 table-bordered selectable-cell"><br><br></div>
</div>

<!--</div>-->