@{
    Layout = null;
}

<div class="row">
    <div style="text-align: center" class="col-lg-12 table-bordered"
         ng-bind-template="{{getMonthName()}} / {{getYear()}}">
    </div>
</div>

<div class="row">
    <div class="col-lg-1 table-bordered" ng-repeat="d in days">
        {{d}}
    </div>
</div>

<div class="row" ng-repeat="week in generateCalMonthPage()">
    <!--<div ng-repeat="day in week">-->
    <div ng-repeat="day in week" class="col-lg-1 table-bordered {{day.class}} selectable-cell" data-year="{{day.year}}" data-month="{{day.month}}" data-day="{{day.day}}" data-rowid="{{$parent.$index}}" data-colid="{{$index}}" data-id="{{day.id}}">{{day.day}}</div>
    <!--</div>-->
</div>