@{
    Layout = null;
}

<div class="row">
    <div style="text-align: center"
         ng-bind-template="{{getWeek().firstDay}}/{{getWeek().month1}} - {{getWeek().lastDay}}/{{getWeek().month2}},
            {{getYear()}}">
    </div>
</div>
<div class="table-responsive" style="overflow: scroll; width: 760px; height: 450px;">
    <table class="table table-bordered">
        <tr class="row">
            <th class="col-lg-1 table-bordered">GMT+2</th>
            <th class="col-lg-1 table-bordered" ng-repeat="h in generateHeadersForGridWeek()">
                {{h}}
            </th>
        </tr>
        <!--<div style="overflow: scroll; width: 760px; height: 450px;">-->

        <tr class="row" ng-repeat="row in daysForGridWeek">
            <td class="col-lg-1 table-bordered">{{row.hour12}}<br><br></td>
            <td class="col-lg-1 table-bordered {{d.class}}" ng-repeat="d in row.weekDays" data-hour12="{{row.hour12}}" data-hour="{{d.hour}}" data-day="{{d.day}}" data-month="{{d.month}}" data-year="{{d.year}}"><br><br></td>

        </tr>
        <!--</div>-->
        </table>
</div>