
@{
    Layout = null;
}

<div class="row">
    <div style="text-align: center"
         ng-bind-template="{{getDayName()}}, {{getMonth()}}/{{getDate()}}">
    </div>
</div>

<!--<div style="overflow: scroll; width: 760px; height: 450px;">-->
<div class="row" ng-repeat="e in getEvents">
    <div class="col-lg-1 table-bordered">{{e}}<br><br></div>
    <div data-hour="{{e}}" class="col-lg-11 table-bordered selectable-cell"><br><br></div>
</div>

<!--</div>-->