@model WebCalendar.Domain.Aggregate.Calendar.Calendar

@{
    ViewBag.Title = "Calendar";
}

<div ng-app="calendarApp" ng-controller="calendarCtrl" class="open-window">
    <div class="row">

        <div class="col-lg-2 text-left">
            <span class="calendar-name">@Model.Title</span>
        </div>

        <div class="col-lg-2">
            <button class="btn btn-default">Today</button>
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default" ng-click="subtractDate()"> < </button>
                <button type="button" class="btn btn-default" ng-click="addDate()"> > </button>
            </div>
        </div>

        <div class="col-lg-4 text-left vcenter">
            <p>@DateTime.Now.ToString("dddd"), @DateTime.Now.ToLongDateString()</p>
        </div>

        <div class="col-lg-4 text-right">
            <div class="btn-group bottom-left" role="group" aria-label="...">
                <button type="button" class="btn btn-default" ng-click="nav('GridForDay', 'day')">Day</button>
                <button type="button" class="btn btn-default" ng-click="nav('GridForWeek', 'week')">Week</button>
                <button type="button" class="btn btn-default" ng-click="nav('GridForMonth', 'month')">Month</button>
            </div>
            <button type="button" class="btn btn-default" ng-click="nav('GridForShedule', 'schedule')">Schedule</button></div>
    </div>

    <div class="container-fluid">
        <div class="row content" style="margin-top:0px">
            <div class="col-lg-3 text-center">
                <button class="btn btn-default btn-create-event" onclick="location.href='/Event/Create'">Create Event</button>
                <div id="datetimepicker12"></div>
                <script type="text/javascript">
                    $(function () {
                        $('#datetimepicker12').datetimepicker({
                            inline: true,
                            sideBySide: false
                        });
                    });
                </script>
            </div>
            <div class="col-lg-9 selectable scrollable-bordered">
                <div ng-include="filePath()"></div>
            </div>
        </div>
    </div>
</div>







@*<!-- Modal -->
            <div class="modal fade" id="modal-new-event" role="dialog">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Event</h4>
                        </div>
                        <input required id="event-title" type="text"><br>

                        <label>When:</label>
                        <div ng-bind-template="{{timePeriodStr}}"></div>
                        <div class="modal-footer">
                            <button id="modal-btn-sendEvent" type="button" class="btn btn-default" data-dismiss="modal" ng-click="sendEventInfo()">Create</button>
                            <button id="modal-btn-editEvent" type="button" class="btn btn-default" data-dismiss="modal">Edit</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <!--<div ng-include="displayGrid()"></div>-->
        </div>
    </div>
    </div>*@

