@-webkit-keyframes switcherToMonth {
    to {
        opacity: 0;
    }
}
@-moz-keyframes switcherFromMonth {
    from {
        opacity: 0;
    }
}

@keyframes switcherFromMonth{
    from {
        opacity: 0;
    }
}

